out
dist
pnpm-lock.yaml
LICENSE.md
tsconfig.json
tsconfig.*.json

# .prettierignore 示例
build/**/*       # 忽略 build 目录下所有
*.min.js         # 忽略所有 .min.js 文件
node_modules     # 必须忽略！
public/assets    # 可能包含第三方库
