/* 调色盘 */
:root[theme-mode='light'] {
    --kbj-font-white-1: rgba(255, 255, 255, 0.9);
    --kbj-font-white-2: rgba(255, 255, 255, 0.55);
    --kbj-font-white-3: rgba(255, 255, 255, 0.35);
    --kbj-font-white-4: rgba(255, 255, 255, 0.22);
    --kbj-font-gray-1: rgba(0, 0, 0, 0.9);
    --kbj-font-gray-2: rgba(0, 0, 0, 0.6);
    --kbj-font-gray-3: rgba(0, 0, 0, 0.4);
    --kbj-font-gray-4: rgba(0, 0, 0, 0.26);
}

/* 具名样式 */
:root[theme-mode='light'] {
    --td-text-color-primary: var(--td-font-gray-1);
    --td-text-color-secondary: var(--td-font-gray-2);
    --td-text-color-placeholder: var(--td-font-gray-3);
    --td-text-color-disabled: var(--td-font-gray-4);
    --td-text-color-anti: #fff;
    --td-text-color-brand: var(--td-brand-color-7);
    --td-text-color-link: var(--td-brand-color-8);
    --kbj-font-color-hover: rgba(255, 255, 255, 0.82);
    --kbj-bg-color-container: #fff;
}

